#red
#blue
#red
#blue
/ .contact.min-fullscreen#contact
/   .container
/     h1 Contact Me
/     .social
/       .social-group
/         = iconfont 'zocial-linkedin', background: '#343234', foreground: '#f7f5f7', size: 150, link: 'https://www.linkedin.com/in/hermanzdosilovic', background: '#343234', foreground: '#f7f5f7', round: true, input_html: { target: '_blank' }
/         = iconfont 'fontawesome-facebook', size: 150, link: 'https://www.facebook.com/profile.php?id=1203852653', background: '#343234', foreground: '#f7f5f7', round: true, input_html: { target: '_blank' }
/       .social-group
/         = iconfont 'fontawesome-github', size: 150, link: 'https://github.com/hermanzdosilovic', background: '#343234', foreground: '#f7f5f7', round: true, input_html: { target: '_blank' }
/         = iconfont 'zocial-bitbucket', size: 150, link: 'https://bitbucket.org/hermanzdosilovic/', background: '#343234', foreground: '#f7f5f7', round: true, input_html: { target: '_blank' }
/       .social-group
/         = iconfont 'zocial-email', size: 150, link: 'mailto:hermanz (tocka) dosilovic (pri) gmail (tocka) com', background: '#343234', foreground: '#f7f5f7', round: true, input_html: { id: 'mail' }
/         = iconfont 'entypo-doc-text', size: 150, link: 'https://dl.dropboxusercontent.com/u/96682413/Herman_Zvonimir_Dosilovic_Resume.pdf', background: '#343234', foreground: '#f7f5f7', round: true, input_html: { target: '_blank' }
