@import "bootstrap";
@import "weloveiconfonts_rails";
@import "custom";

html, body {
  height: 100%;
}

.site {
  min-height: 100%;
  position: relative;
  // padding-top: 62px;
}

.content {
  padding-bottom: 62px;
}

.footer {
  height: 62px;
  width: 100%;
  line-height: 62px;
  text-align: center;
  color: white;
  background-color: #3e3f3a;
  position: absolute;
  bottom: 0;
}

.greeting .container {
  position: fixed;
  width: 100%;
  text-align: center;
}

.cover {
  width: inherit;
  min-width: inherit;
  height: inherit;
  min-height: inherit;
}

.greeting .container img#me {
  width: 200px;
  margin-top: calc(62px + 62px);
}

.greeting .container h1#name {
  font-size: 62px;
  font-weight: bold;
  color: white;
}

.greeting .container hr.small {
  max-width: 100px;
  border: 1px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.greeting .container p#about {
  font-size: 25px;
  color: white;
}

.contact {
  position: relative;
  background-color: #fbfbfb;
}

.contact .container {
  text-align: center;
  min-height: inherit;
  display: table;
}

.social {
  display: table-cell;
  vertical-align: middle;
}

.social .social-group, .social .weloveiconfonts__item {
  display: inline-block;
}

// for testing
#blue {
  height: 500px;
  background-color: blue;
}

#red {
  height: 250px;
  background-color: red;
}

#green {
  height: 400px;
  background-color: green;
}

// bootstrap fixes
.navbar-fixed-top {
  border-width: 1px 1px 1px 1px;
}

@media screen and (min-width: 768px) {
  .navigation .navbar {
    background: transparent;
    border-color: transparent;
  }
}
