@import "style";
@import "clean-blog";

header.intro-header {
  margin: 0;
  padding: 0;
  background-image: url('http://wallpaper.hermanzdosilovic.me');
  .hidden-xs img {
    max-width: 200px;
  }
  .visible-xs-inline-block img {
    max-width: 128px;
  }
  .container {
    display: table;
    .row {
      display: table-cell;
      vertical-align: middle;
      .subheading a {
        color: inherit;
        font-weight: bold;
      }
    }
    .site-heading {
      padding-bottom: 0;
    }
  }
}

.projects {
  padding-top: 120px;
  padding-bottom: 60px;
  @media only screen and (max-width: 768px) {
    padding-top: 100px;
  }
  text-align: center;
  h1 {
    padding-bottom: 30px;
  }
  .all-projects {
    text-align: center;
    .portfolio-item {
      margin: 2px -4px 2px 2px;
      display:inline-block;
      float:none;
      text-align:left;
      @media only screen and (max-width: 768px) {
        max-width: 300px;
      }
      a {
        color: inherit;
        text-decoration: inherit;
        &:hover {
          color: #0085a1;
        }
      }
      &:hover {
        color: #0085a1;
        background-color: #efedef;
        transition: 1s;
        -moz-transition: 1s;
        -webkit-transition: 1s;
      }
    }
  }
}

.contact {
  padding-top: 120px;
  @media only screen and (max-width: 768px) {
    padding-top: 100px;
  }
  text-align: center;
  background-color: #f7f5f7;
}

.fullscreen {
  width: 100%;
  min-height: 650px;
}

.min-fullscreen {
  width: 100%;
}

.nav.navbar-nav li.active a,
.nav.navbar-nav li.active a:hover,
.nav.navbar-nav li.active a:focus {
  background-color: transparent;
  color: #0085a1;
}

.navbar-brand.visible-xs-inline-block {
  font-size: 16px;
}

.social {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 250px;
  .social-group {
    display: inline-block;
    .weloveiconfonts__item {
      display: inline-block;
    }
  }
}

hr {
  margin: 0;
}

hr.dashed {
  border: 1px dashed;
}

footer {
  background-color: #343234;
}

.weloveiconfonts__item {
  margin: 5px;
}

// #portfolio .portfolio-item {
//     right: 0;
//     margin: 0 0 15px;
// }

// #portfolio .portfolio-item .portfolio-link {
//     display: block;
//     position: relative;
//     margin: 0 auto;
//     max-width: 400px;
// }

// #portfolio .portfolio-item .portfolio-link .caption {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     opacity: 0;
//     background: rgba(24,188,156,.9);
//     -webkit-transition: all ease .5s;
//     -moz-transition: all ease .5s;
//     transition: all ease .5s;
// }

// #portfolio .portfolio-item .portfolio-link .caption:hover {
//     opacity: 1;
// }

// #portfolio .portfolio-item .portfolio-link .caption .caption-content {
//     position: absolute;
//     top: 50%;
//     width: 100%;
//     height: 20px;
//     margin-top: -12px;
//     text-align: center;
//     font-size: 20px;
//     color: #fff;
// }

// #portfolio .portfolio-item .portfolio-link .caption .caption-content i {
//     margin-top: -12px;
// }

// #portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
// #portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
//     margin: 0;
// }

// #portfolio * {
//     z-index: 2;
// }

// @media(min-width:767px) {
//     #portfolio .portfolio-item {
//         margin: 0 0 30px;
//     }
// }


.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}
