@import "bootstrap-sprockets";
@import "bootstrap";
@import "weloveiconfonts_rails";

.rosw-wallpaper {
  background: url('http://wallpaper.hermanzdosilovic.me') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.cover.black{
  background-color: rgba(0, 0, 0, .6);
}

.cover.blue{
  background-color: rgba(5, 31, 60, 0.6);
}

.cover.green{
  background-color: rgba(3, 28, 7, 0.6);
}

.cover.orange{
  background-color: rgba(37, 28, 5, 0.6);
}

.cover.red{
  background-color: rgba(35, 3, 2, 0.66);
}
